{% include "header.html" %}
<header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
                <div class="my-3">
                  <p>Hi there! 👋 I'm Raviteja, the voice behind this blog.</p>
                  <p class="justify">I'm a passionate writer, lifelong learner, and someone who loves to explore ideas, share stories, and connect with others through the power of words. This blog is my little corner of the internet where I share my thoughts on different Articals, and everything in between.</p>
            <h3>Why I Started This Blog</h3>
            <p class="justify">I created this space to document my journey, express my creativity, and hopefully, inspire or help someone along the way. Whether it's sharing lessons I've learned, writing tutorials, or simply reflecting on life’s moments — my goal is to add value to your day, even if it's just a smile.</p>
        </div>
        <div class="my-3">
            <h3>A Bit About Me</h3>
            <div>
              <ul>
                <li><p>📍 Based in Hyderabad</p></li>
                <li><p>🎓 Currently studying Btech CSE[AIML]/p></li>
                <li><p>🛠 Interests: [coding, AI, design, Games]</p></li>
                <li><p>💡 Believer in: Continuous growth, simplicity, and being authentic.</p></li>
              </ul>
            </div>
        </div>
        <div class="my-3">
            <h3>Let's Connect!</h3>
            <p class="justify">I love hearing from readers. Feel free to leave a comment, send a message, or connect with me on <a href="https://www.instagram.com/tejaa_7447?igsh=aW1uNjRvamplZmU0">Instagram</a>.</p>
            <p>Thanks for stopping by — and welcome to the journey! 🚀</p>
        </div>
  </div>
</main>
{% include "footer.html" %}
